*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Arabic', sans-serif;
}

body{
background-color: bisque;
font-family: 'Noto Sans Arabic', sans-serif;

}

.outside{
    background-color: #ffffff;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.search{
    display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
 
}

.search button{
 background-color: purple;
 color: aliceblue;
 border-radius: 15px;
 font-size: medium;
 padding: 0.8em 0;
 border: none;
}

.search input{
    font-size: medium;
    border: none;
    border-bottom: 2px solid purple;
    outline: none;

}

#result {
    margin-top: 1.25em;
  }
  .outside .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
  }
  .outside h2 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
  }
  .data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
  }
  .outside h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
  }
  .outside span {
    color: #5d6274;
  }
  .outside h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
  }

.flag{
height: 200px;
width: 250px;
}

.cn__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.bshadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.04);
}
.cn__card {
  border-radius: 5px;
  height: 200px;
  width: 300px;
  padding: 10px;
}
.center {
  text-align: center;
}
.muted {
  opacity: 0.5;
}
.mauto {
  margin: 0 auto;
}
select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  opacity: 0.5;
}